@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;700&family=Fraunces:opsz,wght@9..144,400;9..144,500;9..144,700&display=swap');

$bar: 'Barlow';
$fr: 'Fraunces';
$sans: sans-serif;