$dark-cyan: hsl(179deg, 81%, 29%);
$dark-grey-blue: hsl(215deg, 19%, 25%);
$pale-orange: hsl(25deg, 94%, 86%);
$bg: hsl(43deg, 78%, 98%);
$grey: hsl(215deg, 5%, 54%);
$light-grey: hsla(43, 30%, 94%, 1);