@import "../Global-Sass/colors/colors", "../Global-Sass/fonts/fonts", '../Global-Sass/mixin/mixin';


.header-bar {
    @include align-flex;
    justify-content: space-between;
    padding: 2rem;
    background-color: $bg;
    position: sticky;
    top: 0;
    z-index: 10;

}

.menu-icon{
    z-index: 10;
}

.nav-list {
    display: flex;
    list-style: none;
    flex-direction: column;
    gap: 2rem;
    position: fixed;
    background-image: linear-gradient(0deg, hsla(43, 78%, 98%, 0.5),
    hsla(43, 78%, 98%, 1));
    left: 0;
    top: -100%;
    height: 100vh;
    width: 100%;
    font-size: rem(24);
    opacity: 0;
    transition: all 0.3s linear;
    text-align: center;
    margin-left: auto;
    font-family: $fr, serif;
    padding-top: rem(90);
    li {
        padding: 0.5rem;
    }
    a{
        letter-spacing: rem(1);
        font-weight: 900;
        color: $dark-grey-blue;
    }
    
}

.nav-list.active{
    z-index: 3;
    top: 0;
    opacity: 0.98;
}

@media only screen and (min-width: 1200px){
    .nav-list{
        a{
            @include hover{
                cursor: pointer;
                transition: all 250ms ease-in-out;
                color: $dark-grey-blue;
            }
        }
    }
}