@import "../Global-Sass/colors/colors", "../Global-Sass/fonts/fonts", '../Global-Sass/mixin/mixin';


.header-bar {
    @include align-flex;
    justify-content: space-between;
    padding: 2rem;
    background-color: $bg;
    position: sticky;
    top: 0;
    z-index: 10;

}

.nav-list {
    display: flex;
    list-style: none;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    position: fixed;
    background-image: linear-gradient(hsla(43, 78%, 98%, 0.5)
    hsla(43, 78%, 98%, 1));
    left: -100%;
    top: 0;
    height: 100vh;
    width: 100%;
    font-size: rem(48);
    opacity: 0;
    transition: all 0.3s linear;
    text-align: left;
    margin-left: auto;
    font-family: $fr, serif;
    li {
        padding: 0.5rem;
    }
    a{
        letter-spacing: rem(1);
        font-weight: 700;
        color: $dark-grey-blue;
    }
    
}

.nav-list.active{
    z-index: 3;
    left: 0;
    opacity: 0.98;
}